
body {
    flex-direction: column !important;
    align-items: center !important;
    margin: 0 !important;
    background-color: rgba(32,33,35,100) !important;
}

h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: #bfbfbf;
}

.container {
    width: 100% !important;
    max-width: 100% !important;
    margin:0 auto !important;
	padding: 0px !important;
}

.select-tree-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 10px 0 !important;
    width: 100% !important;
	line-height: 1.2em !important;
	font-weight: 800 !important;
	font-size: 18px !important;
}

    .select-tree-container label {
        font-size: 18px !important;
		font-weight: 700 !important;
    }

	.select-tree-container option {
        text-align:center !important;
		font-weight: 600 !important;
    }

select{
	font-weight: 600 !important;;
	background-color: #b7ab95 !important;;
	color: rgba(32,33,35,100) !important;
    width: 50% !important;;
	max-width: 600px !important;;
    padding: 5px !important;
    border: 1px solid #f2f2f2 !important;
    border-radius: 2px !important;
    height: 2.5rem !important;
}

select:focus {
    font-weight: 600 !important;
	background-color: #b7ab95 !important;
  }
  
  select:hover {
    font-weight: 700 !important;
	background-color: #9e9e9e !important;
  }

#strategy-select {
    margin-bottom: 10px !important;
}

#view-select {
    margin-bottom: 10px !important;
}

.totals-container {
	width: 100% !important;
    display: inline-grid !important;
    margin: 0 auto !important;
}
	.totals-container details{
		background-color: #b7ab95 !important;
	}

.totals-div {
	width: 50% !important;
	max-width: 600px !important;
    border: 1px solid #ccc !important;
    padding: 5px !important;
    margin: 5px auto !important;
    border-radius: 5px !important;
    background-color: #bfbfbf !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
    max-height: 600px !important;
    overflow-y: auto !important;
	color: rgba(32,33,35,100) !important;
}
	
    .totals-div summary {
        margin-top: 0 !important;
        font-size: 18px !important;
        font-weight: 700 !important;
		color: #202123 !important;
    }

    .totals-div p {
        font-size: 16px !important;
		font-weight: 600 !important;
        padding: 0px !important;
        margin: 0px !important;
		line-height: 16px !important;
    }

.zoom-controls{
	display: flex !important;
	width: 100% !important;
	justify-content: center !important;
}

.zoom-controls button{
	background-color: #b7ab95 !important;
    color: rgba(32, 33, 35, 100) !important;
    border: none !important;
    padding: 5px 10px !important;
	margin: 5px  !important;
    border-radius: 2px !important;
    font-size: 16px !important;
	font-weight: 600 !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease	!important;
}
.zoom-controls button:hover{
	background-color: #9e9e9e !important;
}

.tf-tree {
    border: dotted #b7ab95 3px; 
    position: relative;
    overflow:hidden;
    width: 100%;
	min-height: 350px;
}

.tf-tree ul{
	padding: 0px;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.tf-tree-content {
    transform-origin: top left;
}

.tf-nc.building h4 {
    color: #00c89e;
}

.tf-nc {
    display: block;
    background-color: rgba(32,33,35,100);
    border-radius: 5px;
    color: #bfbfbf;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    width: max-content;
    cursor:pointer;
}

.tf-collapsed .tf-nc {
    background-color: #444654;
}

.tf-nc p {
    font-size: 12px;
	line-height: 13px;
}

.tf-nc h4 {
    font-size: 17px;
    font-weight: 600;
}

.tf-tree .tf-nc, .tf-tree .tf-node-content {
    border-color: #bfbfbf;
    border-width: 2px;
    padding: 6px;
}



.tf-nc .tf-leaf {
    background-color: #f5f5f5;
}

.tf-collapsed > ul,
.tf-collapsed > .tf-nc::after {
    display: none;
}

.tf-tree .tf-nc::before,
.tf-tree .tf-nc::after,
.tf-tree li li:before,
.tf-tree li li:after {
    border-width: 2px;
    border-color: #bfbfbf;
}

.tf-tree .tf-nc:after, .tf-tree .tf-nc:before, .tf-tree .tf-node-content:after, .tf-tree .tf-node-content:before {
    left: calc(50% - 0.12em);
}

.tf-tree li li:first-child:before {
    left: calc(50% - .12em);
    max-width: calc(50% + .12em);
}

.tf-tree li li:last-child:before {
    right: calc(50%);
    max-width: calc(50% + .123em);
}

.tf-tree .tf-nc:after, .tf-tree .tf-node-content:after {
    top: calc(100% + .2em);
}

.card-modal {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media screen and (max-width: 480px) {
    .totals-container {
        position: static;
        top: auto;
        right: auto;
        margin-top: 20px;
		flex-direction: column;
		width: 100%;
    }
	
	.totals-div {
		border: 1px solid #ccc;
		padding: 5px;
		margin-bottom: 8px;
		border-radius: 5px;
		color: #202123;
		background-color: #bfbfbf;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
		max-height: 600px;
		width: 90%;
		overflow-y: auto;
	}
	select{
		width: 90%;
		font-size: 15px;
	}
}


